<nav class="navbar-admin">
  <div class="navbar-content">
    <div class="navbar-left">
      <img src="logoGOB-PE.png" alt="Logo Gobierno del Perú" class="navbar-logo" routerLink="/" style="cursor: pointer;">
      <span class="navbar-title">Dirección General de Autorización de Transporte</span>
    </div>
    <div class="navbar-right">
      @if (showLoginButton()) {
      <button mat-raised-button color="primary" routerLink="/login">
        Iniciar Sesión
      </button>
    }
    </div>
  </div>
</nav>
