<mat-card>
  <mat-card-header class="table-header">
    <mat-card-title>Tabla de Escuelas de Conducción</mat-card-title>
    <button mat-raised-button routerLink="/admin/escuelas/registro">Agregar Escuela</button>
  </mat-card-header>

  <mat-card-content>
    <div class="table-container">
      <table mat-table [dataSource]="escuelas()">

        <ng-container matColumnDef="numero">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element; let i = index">
            {{getRowNumber(i)}}
          </td>
        </ng-container>

        <ng-container matColumnDef="nombreEstablecimiento">
          <th mat-header-cell *matHeaderCellDef> Nombre Establecimiento </th>
          <td mat-cell *matCellDef="let element">
            <strong>{{element.nombreEstablecimiento}}</strong>
          </td>
        </ng-container>

        <ng-container matColumnDef="ruc">
          <th mat-header-cell *matHeaderCellDef> RUC </th>
          <td mat-cell *matCellDef="let element"> {{element.ruc}} </td>
        </ng-container>

        <ng-container matColumnDef="estado">
          <th mat-header-cell *matHeaderCellDef> Estado </th>
          <td mat-cell *matCellDef="let element">
            <mat-chip-set>
              <mat-chip>
                {{element.estado}}
              </mat-chip>
            </mat-chip-set>
          </td>
        </ng-container>

        <ng-container matColumnDef="detalleDireccion">
          <th mat-header-cell *matHeaderCellDef> Dirección </th>
          <td mat-cell *matCellDef="let element"> {{element.detalleDireccion}} </td>
        </ng-container>

        <ng-container matColumnDef="distrito">
          <th mat-header-cell *matHeaderCellDef> Distrito </th>
          <td mat-cell *matCellDef="let element"> {{element.distrito}} </td>
        </ng-container>

        <ng-container matColumnDef="provincia">
          <th mat-header-cell *matHeaderCellDef> Provincia </th>
          <td mat-cell *matCellDef="let element"> {{element.provincia}} </td>
        </ng-container>

        <ng-container matColumnDef="departamento">
          <th mat-header-cell *matHeaderCellDef> Departamento </th>
          <td mat-cell *matCellDef="let element"> {{element.departamento}} </td>
        </ng-container>

        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef> Acciones </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="accent" (click)="editar(element)" matTooltip="Editar">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="primary" (click)="actualizarEstado(element)" matTooltip="Actualizar Estado">
              <mat-icon>update</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="eliminar(element)" matTooltip="Eliminar">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" [attr.colspan]="displayedColumns.length">
            <div class="no-data-message">
              <p>Sin escuelas que mostrar</p>
            </div>
          </td>
        </tr>
      </table>
    </div>
    <mat-paginator [length]="pageInfo().totalElements" [pageSize]="pageInfo().size" [pageIndex]="pageInfo().number" [pageSizeOptions]="[5,10,20]" (page)="onPaginatorChange($event)" aria-label="Seleccionar página">
    </mat-paginator>
    <div class="paginator-info">
      Mostrando {{getDisplayRange()}} de {{pageInfo().totalElements}}
    </div>
  </mat-card-content>
</mat-card>
